[submodule "ThirdParty/ClassicUO"]
	path = ThirdParty/ClassicUO
	url = https://github.com/ClassicUO/ClassicUO.git
[submodule "ThirdParty/ServUO"]
	path = ThirdParty/ServUO
	url = https://github.com/ServUO/ServUO.git
[submodule "ThirdParty/FNA"]
	path = ThirdParty/FNA
	url = https://github.com/FNA-XNA/FNA.git
[submodule "ThirdParty/SDL3-CS"]
	path = ThirdParty/SDL3-CS
	url = https://github.com/flibitijibibo/SDL3-CS.git
[submodule "ThirdParty/centredsharp"]
	path = ThirdParty/centredsharp
	url = https://github.com/UOEngine/centredsharp.git
[submodule "ThirdParty/FAudio"]
	path = ThirdParty/FAudio
	url = https://github.com/FNA-XNA/FAudio.git
[submodule "ThirdParty/Theorafile"]
	path = ThirdParty/Theorafile
	url = https://github.com/FNA-XNA/Theorafile.git
[submodule "ThirdParty/Avalonia"]
	path = ThirdParty/Avalonia
	url = https://github.com/AvaloniaUI/Avalonia.git
